*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    position: relative;
}

main figure{
    position: absolute;
    width: 300px;
}

main figure img{
    display: block;
    max-width: 100%;
    border-radius: 7px;
    margin: 10px 20px;
}

#img4{
    top: 100px;
    left: 100px;
}
#img3{
    top: 70px;
    left: 70px;
}
#img2{
    top: 40px;
    left: 50px;
}

#img1{
    z-index: 1;
}